/*
 * Base CSS
 */

body {
  background-color: #fff;
}

.nav-wrapper {
  padding: 2rem;
}

/*
 * Navigation CSS
 */

.navbar-brand {
  font-weight: bold;
  font-family: Tahoma, Geneva, sans-serif;
}

nav {
  background-color: rgba(255,255,255,.7);
}

.dropdown-item {
  color: #383838;
}

/*
 * Container CSS
 */

.top-image {
  height: 20rem;
  background-image: url(../img/rider_img.jpg);
  background-size: cover;
}

.title {
  padding: 3rem 1.5rem;
  text-align: center;
  color: #FFF;
}

h1.title {
  font-family: Tahoma, Geneva, sans-serif;
}


/*
 * Youtube video CSS
 */

.v-list {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card-text {
  text-align: center;
}

.youtube {
  margin: 10px 0;
}

.youtube iframe {
  margin: 0 auto; display: block;
}

.youtube_play:hover {
  cursor: pointer;
}

.youtube_btn {
  width: 42px;
  height: 30px;
  background-image: url(../img/YouTube-icon-dark.png);

  position: absolute;
  top: 0;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.thumbnail {
  margin: 0 auto;
  display: block;
}


/*
 * Footer CSS
 */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.back-to-top {
  float: right;
}